.TotalItemContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 100%;
}

.TotalItemText {
    margin: 0 5px 0 5px;
}

.itemName {
    font-size: 18px;
    font-weight: 500;
}

.TotalItemButtonContainer {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 0 10px 0 10px;
}

.TotalItemButtonNormal {
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;

    border: none;
    background-color: #2D18BF;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 0 5px;
}

.TotalItemButtonCuantity1 {
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;

    border: none;
    background-color: #d4d4dc;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 0 5px;
}